#wrapper {
  padding-left: 20px;
  transition: all 0.4s ease 0s;
}

.closed {
  transform: translateX(-250px);
  transition: all 0.3s ease-in-out;  
}
.expanded {
  transform: translateX(-250px);
  transition: all 0.3s ease-in-out;
}

.sidebar-wrapper{
  transition: all 0.3s ease-in-out;  
}
.hi{
    transition: all 0.3s ease-in-out;  

}

#sidebar-wrapper {
  width: 250px;
  background: #333430;
  transition: all 0.4s ease 0s;
}

.fa-bars
{
  font-size:30px;
}
#home
{
   
  font-size:20px;
}
.navbar-brand-logo{
display: inline;
height: 24px;
color:white;
    margin-right: 6px;
 }
 .navbar-default {
    background-color: #333430;
    border-color: #333430;
    border-width:4px;
    position: relative; /* Set the navbar to fixed position */
    top: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    
 }
 
#custom-bootstrap-menu {
    background-color: #fff;
       
  
} 
.docked
{
  font-size:22px;
  color:white;
}
.list-group-item {
    position: relative;
    display: block;
    color: white;
    padding: 3px 22px;
    background-color: #333430;
}

.list-group-item {
       border: 0px;
           cursor: pointer;
}

.sublist {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}

.fa-file.small {
  font-size: 10px;
}

.sidebar-wrapper {
  height: 100vh;
  overflow: hidden;
  color: #fafafa;
}

.ex-fixed {
  height: 58px;
}

.folder-exp {
 
  height: calc(100vh - 58px);
  max-height: calc(100vh - 58px);
  overflow: auto;
}

.wrapper {
  border: 1px solid red;
  flex: 1;
}
.wrapper h1 {
  display: block;
  text-align: left;
}
.flex {
  display: flex;
}

a:hover {
    color: hotpink;
}




.list-group-item ul li:hover > ul
{
  
  display: block;

    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}
ol ol, ol ul, ul ol, ul ul {
     margin-left: -22px;
}
