<p class="p">
  First home page!
</p>
 <!--<a (click)="toggle1($event)" data-toggle="collapse" aria-expanded="true" class="page " [routerLinkActive]="['/elements']"
			 class="list-group-item">
            <i class="fa fa-caret-down" aria-hidden="true"></i>{{ 'dashboard' }}
        </a>

			<ul class="list-group">
				<li *ngFor="let components of component" routerLink="/{{components.routerLink}}">{{components.viewValue}}</li>

			</ul>
           <!--function for widgets-->

		   <!--<a (click)="toggle2($event)" data-toggle="collapse" aria-expanded="true" class="page " [routerLinkActive]="['/elements']"
			 class="list-group-item">
            <i class="fa fa-caret-down" aria-hidden="true"></i>{{ 'widgets' }}
        </a>

			<ul class="second">
				<li *ngFor="let lists of list" [routerLink]="['/lists']" [routerLinkActive]="['router-link-active']">{{lists.viewValue}}</li>

			</ul>
-->


<!--
		</div>
	</div>

	<md-toolbar color="primary" class="page-content">
		<button md-button (click)="toggle($event)">
      <md-icon>menu</md-icon>
    </button>
		<span>My App</span>
	</md-toolbar>
	<div class="margin-left-right-50">

		</div>
</md-sidenav-container >
<router-outlet></router-outlet>-->
		